:root{
    --clr-background: #FFF5F5;
    --clr-main-pink: #F7146B;
    --clr-second-pink: #EFE0F1;
    --clr-white: #F1F1F1;
    --clr-black: #010101;
    --clr-gray: #8F8F8F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--clr-background);
    min-height: 100vh;
    min-height: 100svh;
}

/* --------------- Header ---------------  */
header {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    padding: 1rem;
}

header > section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

header > img {
    grid-column-start: none;
}

/* --------------- Main -----------------------------  */


/* --------------- Main - Section - 1 ---------------  */
main > section > input {
    width: 80%;
    height: 2rem;
    border-radius: 0.6rem;
    border: 0.1px solid var(--clr-main-pink);
    padding-left: 1rem;
    justify-self: center;
}

main > section > input:focus {
    border: 2px solid var(--clr-main-pink);
}

main > section:nth-child(1) {
    display: grid;
}

main > section:nth-child(1) > article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 0.4rem;
    margin: 1rem;
    background-image: url(./Img/background-card.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

main > section:nth-child(1) > article > p {
    color: var(--clr-white);
    text-align: center;
    align-self: center;
    font-size: 2rem;
}

main > section:nth-child(1) > article > p > span {
    display: block;
    font-size: 1.2rem;
}

main > section:nth-child(1) > article > img {
    justify-self: flex-end;
}

/* --------------- Main - Section - 2 ---------------  */
main > section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}

main > section:nth-child(2) > span {
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 100%;
}

/* --------------- Main - Section - 4 ---------------  */

main > section:nth-child(2) > span:nth-child(1) {
    justify-self: flex-end;
    background-color: #F7146B;
}

main > section:nth-child(2) > span:nth-child(2) {
    background-color: var(--clr-second-pink);
}

main > section:nth-child(2) > span:nth-child(3) {
    justify-self: flex-start;
    background-color: var(--clr-second-pink);
}

/* --------------- Main - Section - 4 ---------------  */
main > section:nth-child(3) {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    overflow: auto;
    scrollbar-width: none;
}

main > section:nth-child(3) > article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.6rem;
    background-color: var(--clr-second-pink);
    margin: 0.6rem;
    border-radius: 1rem;
}

/* --------------- Main - Article ---------------  */

.typeFood {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
}

.typeFood > p {
    font-size: 1.6rem;
    color: var(--clr-main-pink);
    font-weight: 800;
}

.typeFood >  a {
    justify-self: end;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--clr-main-pink);
    color: var(--clr-white);
}

/* --------------- Main - Section - 5 ---------------  */

.allCards,
.allBrunch,
.allBars {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    overflow: auto;
    scrollbar-width: none;
    gap: 2rem;
}

.cards{
    background-image: url(./Img/mobile-fast-food-burger-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14rem;
    height: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards > p {
    text-align: end;
}

.cards .nameFirm {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--clr-main-pink);
}

.cards .knowMore {
    width: fit-content;
    align-self: end;
    padding: 0.12rem 1rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    background-color: var(--clr-main-pink);
    color: var(--clr-white);
}

main > section:nth-child(9){
    padding-bottom: 20vh;
}


/* --------------- Footer ---------------------------  */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    background-color: var(--clr-second-pink);
}

footer > a {
    align-items: center;
    justify-self: center;
}

footer > a:nth-child(1){
    background-color: var(--clr-main-pink);
    padding: 0.5rem;
}